<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CloudType" value="AzureChinaCloud"/>
    <add key="Authority" value="https://login.chinacloudapi.cn/common"/>
    <add key="GraphResource" value ="00000003-0000-0000-c000-000000000000"/>
  </appSettings>
</configuration>
