bin/
packages/
src/ADAL.NET/obj/
src/ADAL.NET/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
src/ADAL.NET.WindowsForms/obj/
src/ADAL.WinRT/obj/
src/ADAL.WinRT/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
tests/Test.ADAL.NET.Friend/obj/
tests/Test.ADAL.NET.Unit/obj/
tests/Test.ADAL.NET.WindowsForms/obj/
tests/Test.ADAL.NET/obj/
tests/Test.ADAL.WinRT.Dashboard/obj/
tests/Test.ADAL.WinRT.Dashboard/AppPackages/
tests/Test.ADAL.WinRT.Unit/obj/
tests/Test.ADAL.WinRT.Unit/AppPackages/
tests/Test.ADAL.WinRT/obj/
TestResults/
!.nuget/NuGet.exe
winphone/src/ADAL.WinPhone/obj/
winphone/tests/Test.ADAL.WinPhone.UnitTest/obj/
winphone/src/ADAL.WinPhone/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
src/ADAL.WinPhone/obj/
tests/Test.ADAL.WinPhone.Dashboard/obj/
src/ADAL.WinPhone/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
tests/Test.ADAL.WinPhone.Unit/obj/
