bin/
packages/
src/ADAL.NET/obj/
src/ADAL.NET/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
src/ADAL.NET.WindowsForms/obj/
src/ADAL.WinRT/obj/
src/ADAL.WinPhoneSL/obj/
src/ADAL.WinRT/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
src/ADAL.WinPhoneSL/obj/
tests/Test.ADAL.NET.Friend/obj/
tests/Test.ADAL.NET.Unit/obj/
tests/Test.ADAL.NET.WindowsForms/obj/
tests/Test.ADAL.NET/obj/
tests/Test.ADAL.WinRT.Dashboard/obj/
tests/Test.ADAL.WinRT.Dashboard/AppPackages/
tests/Test.ADAL.WinRT.Unit/obj/
tests/Test.ADAL.WinRT.Unit/AppPackages/
tests/Test.ADAL.WinRT/obj/
tests/Test.ADAL.WinPhoneSL.Dashboard/obj/
TestResults/
!.nuget/NuGet.exe
winphone/src/ADAL.WinPhone/obj/
winphone/tests/Test.ADAL.WinPhone.UnitTest/obj/
winphone/src/ADAL.WinPhone/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
src/ADAL.WinPhone/obj/
src/ADAL.WinPhone/Microsoft.IdentityModel.Clients.ActiveDirectory.XML
tests/Test.ADAL.WinPhone.Unit/obj/
src/ADAL.PCL.Android/obj/
src/ADAL.PCL.Desktop/obj/
src/ADAL.PCL.iOS/obj/
src/ADAL.PCL.WinPhone/obj/
src/ADAL.PCL.WinRT/obj/
src/ADAL.PCL/obj/
tests/Test.ADAL.WinPhone.Unit/AppPackages/
src/ADAL.PCL.CoreCLR/obj/
ADAL.NET.sdf
tests/Test.ADAL.WinPhone.Dashboard/obj/
tests/TestApp/AdalAndroidTestApp/obj/
tests/TestApp/AdalDesktopTestApp/obj/
tests/TestApp/AdaliOSTestApp/obj/
tests/TestApp/AdalUniversalTestApp/AdalUniversalTestApp.Windows/obj/
tests/TestApp/AdalUniversalTestApp/AdalUniversalTestApp.WindowsPhone/obj/
tests/TestApp/TestApp.PCL/obj/
tests/TestApp/AdalXamarinFormsTestApp.Droid/obj/
tests/TestApp/AdalXamarinFormsTestApp.iOS/obj/
tests/TestApp/AdalXamarinFormsTestApp/obj/
tests/TestApp/XFormsApp.Droid/obj/
tests/TestApp/XFormsApp.iOS/obj/
tests/TestApp/XFormsApp/obj/
.nuget/NuGet.Config
*.suo
src/ADAL.PCL.Android/ADAL.PCL.Android.csproj.bak
*.suo
