.vs/
bin/
obj/
packages/
TestResults/
!.nuget/NuGet.exe
ADAL.NET.sdf
.nuget/NuGet.Config
*.suo
src/ADAL.PCL.Android/ADAL.PCL.Android.csproj.bak
.DS_Store
*.userprefs
AppPackages
Microsoft.IdentityModel.Clients.ActiveDirectory.XML
*.htm
.nugetPackageRoot/
