<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget.Org" value ="https://api.nuget.org/v3/index.json" />
    <add key="Internal Nuget Feed" value="https://securitytools.pkgs.visualstudio.com/DefaultCollection/_packaging/SecureDevelopmentTools/nuget/v3/index.json" />
  </packageSources>
</configuration>
