<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    
    <!--Commented for Nuget Multifeed Configuration OneBranch Alert, uncomment for local development-->
    <!--  <add key="Microsoft.Identity.Client.NativeInterop" value="https://identitydivision.pkgs.visualstudio.com/IDDP/_packaging/Microsoft.Identity.Client.NativeInterop/nuget/v3/index.json" /> -->
  </packageSources>
</configuration>
