<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="3.3.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.28.0" targetFramework="net452" />
  <package id="StrongNamer" version="0.0.3" targetFramework="net452" />
</packages>