@{
    ViewData["Title"] = "ARM Info";
}

<h2>Get data from ARM with Managed Identity</h2>

<p>
    Calls an Azure Resource Manager API using the Web App’s managed identity token.
</p>

<section>
    <h3>Response from ARM:</h3>

    @if (ViewBag.Error != null)
    {
        <h4 style="color: red">@ViewBag.Title</h4>
    }

    <pre style="white-space: pre-wrap">@Html.Raw(ViewBag.Message)</pre>
</section>
