@{
    ViewData["Title"] = "ARM Info";
}

<h2>Get Key Vault Secret using UAMI token</h2>

<p>
    Calls an Azure Key Vault and gets a secret using the Web App’s managed identity token (UAMI).
</p>

<section>
    <h3>Response from Key Vault:</h3>

    @if (ViewBag.Error != null)
    {
        <h4 style="color: red">@ViewBag.Title</h4>
    }

    <pre style="white-space: pre-wrap">@Html.Raw(ViewBag.Message)</pre>
</section>
