<h2>Get Secret from Key Vault</h2>

<p>Gets a secret from the key vault using the Web Apps Managed Identity !</p>

<text>
    <h3>Response from the Web App:</h3>
    <p>
        @if (ViewBag.Error != null)
        {
            <h4>Exception thrown :</h4>
        }

        @ViewBag.Message
    </p>
</text>