@{

    ViewData["Title"] = "Home Page";
}

<div class="text-align">
    <h1 class="display-4">Call Azure Key Vault from the web app</h1>
    
    <p>A safe way to give your web app access to data is to use a system-assigned managed identity. 
       A managed identity from Azure Active Directory allows App Service to access resources through role-based access control (RBAC), 
       without requiring app credentials. After assigning a managed identity to your web app, Azure takes care of the creation and distribution of a certificate. 
       You don't have to worry about managing secrets or app credentials.</p>

    <p>Click the "Get Secret" from the top links to Get Secret from the Key Vault.</p>
    
    <p>Learn about <a href="https://learn.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview">managed identities</a>.</p>
</div>
