<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <runtime>
        <!-- Bypass strong name verification for unsigned assemblies -->
        <bypassTrustedAppStrongNames enabled="true"/>
        <loadFromRemoteSources enabled="true"/>
        
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Authentication.Client" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="7.2.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
