@model string

@{
    ViewData["Title"] = "Home Page";

    if (User.Identity.IsAuthenticated)
    {
        <ul>
            <li><a asp-controller="Home" asp-action="CallGraphMeQueryAsync">Call Graph Me query by User Credential</a></li>
            <li><a asp-controller="Home" asp-action="CallGraphUsersQueryBySecretClientCredentialAsync">Call Graph Users query by Secret ClientCredential</a></li>
            <li><a asp-controller="Home" asp-action="CallGraphUsersQueryByCertClientCredentialAsync">Call Graph Users query by Certificate ClientCredential</a></li>
            <li><a asp-controller="Home" asp-action="RequestApplicationPermissionsAsync">Request Application Permissions</a></li>
            <li><a asp-controller="Home" asp-action="CallWebApiUserProfileQueryAsync">Call WebApi UserProfile query by User Credential (WebApi will execute On Behalf Of User call to Graph Me query)</a></li>
        </ul>
    }
    else
    {
        <p> Please log in to see available Api</p>
    }

    if (Model != null)
    {
        <p>Api Call Response:</p>

        @Html.Raw("<pre>" + Html.Encode(Model) + "</pre>")
    }
}