<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AdalAndroidTestApp.AdalAndroidTestApp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:maxSdkVersion="12" android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="AdalAndroidTestApp" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>