# Newtonsoft.JSON code is copied - ignore code analysis 

[*.cs]

dotnet_diagnostic.CA1802.severity = none
dotnet_diagnostic.CA1200.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA2002.severity = none
dotnet_diagnostic.CA1064.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1810.severity = none
dotnet_diagnostic.CA1801.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1820.severity = none
dotnet_diagnostic.CA2207.severity = none
