<!DOCTYPE html>
<title>@ViewData["Title"] - MSAL Web App</title>
<html>
<body>
    <table>
        <tr>
            <td align="left">MSAL Web App for Confidential Client flows</td>
            <td width="100"></td>
            <td align="right">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul style="list-style-type: none;">
                        <li>Hello, @User.FindFirst("name") </li>
                        <li><a asp-controller="Account" asp-action="LogOffAsync">Log Out</a></li>
                    </ul>
                }
                else
                {
                    <ul style="list-style-type: none;">
                        <li><a asp-controller="Account" asp-action="LoginAsync">Log In</a></li>
                    </ul>
                }
            </td>
        </tr>
    </table>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - MSAL WebApp</p>
        </footer>
    </div>
</body>
</html>